NET "CLK"    LOC = T9;
NET "RST"    LOC = M13;

NET "PS2C"   LOC = M16;
NET "PS2D"   LOC = M15;

NET "RGB[0]" LOC = R11;
NET "RGB[1]" LOC = T12;
NET "RGB[2]" LOC = R12;

NET "V_SYNC" LOC = T10;
NET "H_SYNC" LOC = R9;

NET "FAILED" LOC = P12;
NET "WINLED" LOC = P11;

NET "SOUND"  LOC = N11;